body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#b3bebd;
}

.loader{
    border: 16px solid #3b3b3b;
    border-top: 16px solid #0a0a0a;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}